<div class="navigation-buttons flex justify-between mx-4 mt-4 mb-2">
  <button type="button" id="prevBtn" onclick="navigateStep(-1)" class="flex items-center px-4 py-2 text-slate-700 hover:underline hover:text-yellow-500 transition duration-300">
    <span class="mr-2 font-bold">&lt;</span>
    Précédent
  </button>
  <button type="button" id="nextBtn" onclick="navigateStep(+1)" class="flex items-center px-4 py-2 text-slate-700 hover:underline hover:text-yellow-500 transition duration-300 ml-auto">
    Suivant
    <span class="ml-2 font-bold">&gt;</span>
  </button>
</div>