@layout.dashboard({pageTitle: i18n.t('messages.admin_title'), svg: 'admin' }) 
    @!filters.search({route: route('admin.search'), placeholder: i18n.t("messages.form_placeholder_search_user")})

    @if(request.qs().input_words) 
        @if(users)
            @!dashboard.admin.usersList({users, searchParams})
        @else
            <p>No users matching your request</p>        
        @end
        
    @else
        <p>Explanation</p>
    @end
    
@end