<!DOCTYPE html>
<html lang="{{ i18n.locale }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ i18n.t('messages.login_title') }}</title>
  @vite(['resources/css/app.css', 'resources/js/app.js'])
</head>

<body>
  @include("pages/partials/header")
  <main class="bg-gray-100 flex  justify-center min-h-screen ">

    <div class="bg-white p-8 rounded shadow-md w-full max-w-md mt-20 mb-auto">
      <h2 class="text-2xl font-bold mb-6 text-center text-gray-700">
        {{ i18n.t('messages.login_title') }}
      </h2>
      <form action="{{ route('auth.login.store') }}" method="POST" class="space-y-4">
        {{ csrfField() }}

        @error('E_INVALID_CREDENTIALS')

        {{ $message }}

        @end

        <div>
          <label for="email" class="block text-gray-600">
            {{ i18n.t('messages.login_email') }}
          </label>
          <input type="email" id="email" name="email" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm
           focus:ring-yellow-500 focus:border-yellow-500 focus:ring-2  sm:text-sm" placeholder="you@example.com">
        </div>
        <div>
          <label for="password" class="block text-gray-600">
            {{ i18n.t('messages.login_password') }}
          </label>
          <div class="relative" >
            <input type="password" id="password" name="password" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm
            focus:ring-yellow-500 focus:border-yellow-500 focus:ring-2  sm:text-sm" placeholder="********">
            <span onclick="showPassword(password)" class="p-1 absolute top-1 right-2 field-icon toggle-password show ">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 pointer-events-none ">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
              </svg>
            </span>
          </div>
           
        </div>
        <div>
          <button type="submit" class="w-full bg-yellow-500 text-gray-800 font-semibold py-2 px-4 mt-8 rounded-md hover:bg-yellow-400
           focus:outline-none focus:ring-yellow-500 focus:border-yellow-500 focus:ring-2 ">
           {{ i18n.t('messages.login_login') }}
          </button>
        </div>
      </form>

      <!-- DEBUG -->
      {{-- {{ inspect(flashMessages.all()) }} --}}

    </div>
  </main>
  @include("pages/partials/footer")
  <script src="/resources/js/show_password.js"></script>
</body>

</html>