<!DOCTYPE html>
<html lang="{{ i18n.locale }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ i18n.t('messages.login_new_password_title') }}</title>
  @vite(['resources/css/app.css', 'resources/js/app.js'])
</head>

<body class="bg-slate-50">
  @include("pages/partials/header")
  <main class="flex flex-col items-center min-h-screen ">

    <div class=" bg-yellow-500 mb-20  text-slate-600 flex flex-col border rounded-3xl shadow mt-10 w-screen sm:w-[500px]">
      <h2 class=" font-bold text-xl uppercase text-center rounded-t-3xl my-6 bg-yellow-500  ">
        {{ i18n.t('messages.login_new_password_title') }}
      </h2>
      <div class="p-8 bg-white rounded-b-3xl">

        @if(flashMessages.has('error'))
            @!component('components/errors/flashmessage', { message: flashMessages.get('error') })
        @elseif(flashMessages.has('success'))
            @!component('components/errors/flashmessage', { message: flashMessages.get('success'), success: true })
        @end

      <form action="{{ route('auth.login.request-new-password') }}" method="POST" class="space-y-4">
        {{ csrfField() }}

        @error('E_INVALID_CREDENTIALS')

        {{ $messages }}

        @end

        @if(flashMessages.has('loginInvalidData'))
      <div>
        <h2 class="text-2xl font-bold mb-6 text-center text-yellow-600">
          {{ flashMessages.get('loginInvalidData') }}
        </h2>
      </div>
      @endif

        <div>
          <label for="email" class="block text-gray-600">
            {{ i18n.t('messages.login_email') }}
          </label>
          <input type="email" id="email" name="email" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm
           focus:ring-yellow-500 focus:border-yellow-500 focus:ring-2  sm:text-sm" placeholder="you@example.com">
        </div>
        
        <div class="flex justify-center">
          <button type="submit" class=" bg-indigo-700 text-white font-semibold py-2 px-6 mt-8 rounded-md hover:bg-indigo-500
           focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:ring-2 ">
           {{ i18n.t('messages.login_new_password_request') }}
          </button>
        </div>
      </form>


      <!-- DEBUG -->
      {{-- {{ inspect(flashMessages.all()) }} --}}
    </div>
    </div>
  </main>
  @include("pages/partials/footer")
  <script src="/resources/js/show_password.js"></script>
</body>

</html>