@layout.email({
        email,
        messageText,
        name,
        subject
      })
    <p>FRENCH</p>
    <p>Ceci est une copie de votre formulaire d'envoyé envoyé aujourd'hui.</p>
    <p>{{name}}</p>    
    <p>{{email}}</p>
    <p>{{messageText}}</p>

@end
