@layout.email({user, token, origin, subject, language})
    <p>Salut, {{user.firstname}}. <br> Tu as oublié ton mot de passe ? Pas de problème !</p>
    <p style="color: red">Cliquez sur le lien dans les <span style="font-weight: bold;">30 minutes</span> suivantes pour réinitialiser votre mot de passe.</p>
    <a href="{{origin}}/reset-password/?token={{token}}">Créer un nouveau mot de passe</a>
    <p>Si vous avez des questions ou des préoccupations, n'hésitez pas à <a href="{{origin}}/contact">contacter</a> notre équipe de support.</p>
    <p>Cordialement,<br>L'équipe de Next Events</p>
    <p>S'il ne s'agissait pas de vous, n'accordez pas d'importance à cet e-mail.</p>
@end