<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Next Event - Détails de l'évènement</title>
  @vite(['resources/css/app.css', 'resources/js/map_details.js','resources/js/favourites.js'])
</head>

<body>

  @include("pages/partials/header")

  

  <main class= "container mb-10 mx-auto">
    <div class="flex justify-center  gap-10  mx-auto my-6 py-10"> 

      <article>
        <div class="bg-white border-gray-300 rounded-lg w-full">
          <div class="flex flex-col gap-4 mx-4 mb-4">

            <h2 class="text-2xl text-center font-semibold mb-2">
              Titre de l'événement
            </h2>
            <h3 class="text-xl text-center font-medium text-gray-700 mb-1">
              Sous-titre
            </h3>
            <div class="container relative shadow " href="#">
              <img src="/public/images/dummy-spectacle.webp" alt="Event Image" class="w-full h-auto object-cover">  
                <div class= "flex gap-2 items-center absolute top-4 right-4 z-10  transition duration-300">
                  <p class="hidden opacity-0 transform scale-50 -translate-x-full animate-pulse bg-slate-400/50
                   text-white font-semibold px-2 " id="add-to-favourites">
                   Add to wishlist
                  </p>
                  <a href="#" id="favourite-star"  >
                    <img  src="/public/svg/favourite-star.svg" alt="Add to favourites" >
                  </a>
                </div>
              </div>
            <p class="text-sm text-gray-500 mb-1">
              Description :
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab ea alias voluptatum,
               a nobis in ipsam dolorum dicta cumque esse libero temporibus, natus, reprehenderit
                vitae nisi. Quod, quidem. Inventore corporis esse cupiditate est ad vero sunt voluptate
                 repellat nisi minus eius reiciendis modi excepturi itaque necessitatibus et quam sequi
                  porro iste quis iure distinctio, quibusdam labore commodi. Quae illum cum autem. 
                  Adipisci nostrum quas inventore eius, nulla fuga. Suscipit culpa blanditiis quibusdam, 
                  voluptatibus corrupti repellendus. Corporis vel quam nihil rem sed non nam ad odio, eligendi alias.
                   In, consectetur quibusdam sunt veniam deserunt tempore accusantium ab qui, 
                   voluptatem, nobis iusto ratione dolorum similique quam laudantium quod. 
              Aliquam qui cumque suscipit nihil doloremque, odio voluptatem illum aspernatur minus
              voluptatum voluptatibus rem in asperiores reiciendis excepturi ullam quisquam quos velit et obcaecati
                alias libero id quas provident. Atque voluptates deleniti consequatur quidem, dignissimos 
                repudiandae odit natus, voluptate, hic tempore quaerat praesentium sint voluptas! Itaque, quibusdam
                inventore tempore eos quis animi nobis minus atque reiciendis, rerum eligendi pariatur nihil? Quae 
                voluptatum sapiente quaerat consequatur iure delectus possimus laudantium modi quos laborum debitis 
                omnis deleniti, dignissimos error pariatur magni repellendus, blanditiis reiciendis officia odit 
                nihil distinctio nisi! Dolor, deserunt repudiandae itaque natus quas voluptatum.
            </p>
          </div>
          
          
          
        
          <div class="flex flex-col gap-4 p-4">

            <div class="flex justify-center items-center gap-8">
              <a href="#" class="hover:animate-pulse">
                <img src="/public/svg/facebook-color.svg" alt="facebook link">
              </a>
              <a href="#" class="hover:animate-pulse">
                <img src="/public/svg/instagram-color.svg" alt="instagram link">
              </a>
              <a href="#" class="hover:animate-pulse">
                <img src="/public/svg/web.svg" alt="website link">
              </a>
            </div>

            <div class="border-t border-gray-200 pt-2"></div>

            <p class="text-center font-semibold text-lg text-gray-500">
              Spectacle
            </p>
            <div class="flex justify-between w-full">
              <p class="text-sm text-gray-500 mb-1 w-1/2 text-clip overflow-hidden">
                Forum de Liège 
              </p>
              <a href="" class="flex justify-end gap-2 w-1/2" id="heart_trigger">
                <p class="text-sm text-right text-gray-500 mb-1 text-clip overflow-hidden ">
                  Vendeur 
                </p>

                <img src="/public/svg/heart-empty.svg" alt="Add to favourites" class="h-4 w-4 self-center block" id="heart_empty">
                <img src="/public/svg/heart-full.svg" alt="Add to favourites" class="h-4 w-4 self-center hidden" id="heart_full">
              </a>

              
            </div>
            <div class="flex justify-between">
              <p class="text-sm text-gray-500 mb-1">
                15 juin 2024
              </p>
              <p class="text-sm text-gray-500 mb-1">
                De 20:00 à 23h
              </p>
            </div>
           
            <p class="text-sm text-gray-500 mb-1">
              Rue Pont d'Avroy 12 400 Liège
            </p>
            
          </div>
          <div class="border-t border-gray-200 p-4"></div>
        </div>

        <div class="flex flex-col  justify-center mb-4">
          <div class="flex justify-center gap-4">
            <a class=" px-2 py-1  hover:bg-red-200 text-sm text-blue-700  font-bold rounded-xl transition duration-200" href="#">
              -</a>
            <p class="text-xl font-bold  text-gray-800 mb-1">
              <span class="text-sm font-medium">Adultes</span> 10€ 
              </p>
            <a class="px-2 py-1  hover:bg-green-300 text-sm text-blue-700   font-bold rounded-xl transition duration-200" href="#">
              +</a>
          </div>
          <div class="flex justify-center gap-4">
            <a class=" px-2 py-1  hover:bg-red-200 text-sm text-blue-700  font-bold rounded-xl transition duration-200" href="#">
              -</a>
            <p class="text-xl font-bold  text-gray-800 mb-1">
              <span class="text-sm font-medium">Enfants</span> 5€ 
              </p>
            <a class="px-2 py-1  hover:bg-green-300 text-sm text-blue-700   font-bold rounded-xl transition duration-200" href="#">
              +</a>
          </div>
        </div>
            
          {{-- if the user is auth and owner of the event, show Modifier button, else Acheter --}}
        <div class="flex gap-4 justify-center">
          <a class="py-2 px-6 bg-cyan-700 hover:bg-cyan-500 text-sm text-white  font-bold rounded-xl transition duration-200" href="#">
            Modifier</a>
          <a class=" py-2 px-6 bg-green-700 hover:bg-green-500 text-sm text-white  font-bold rounded-xl transition duration-200" href="#">
            Acheter</a>
        </div>
        <div class="flex flex-col  container h-60 my-10 mx-auto">
          <div id="map" class="h-full"></div>
        </div>
        
      </article>

    </div>
  </main>


  @include("pages/partials/footer")

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
  crossorigin=""></script>
</body>
</html>