<!DOCTYPE html>
<html lang="{{ i18n.locale }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ i18n.t('messages.event_editEvent_title') }}</title>
    @vite(['resources/css/app.css', 'resources/js/hours_create_event.js'])

</head>

<body class="bg-slate-50">
  @include("pages/partials/header")
  <main class="flex flex-col justify-center items-center  min-h-screen mx-auto mb-16 w-screen sm:w-full xl:w-[1200px]">
    <div class="md:mt-10 md:px-12">

    
      
    <h2 class="text-center font-semibold text-slate-600 text-xl mt-5 xl:mt-8 xl:mb-2">
      {{ i18n.t('messages.event_editEvent') }}
    </h2>

    <form  action="{{ route('events.update', [event.id], { qs: {_method: 'PATCH'}}) }}" method="post"  enctype="multipart/form-data">
      {{ csrfField() }}
      {{-- {{ inspect(flashMessages.all()) }} --}}
      @error('E_INVALID_CREDENTIALS')
      {{ $message }}
      @end

    <div class="xl:flex-row flex flex-col w-full gap-y-5 xl:gap-x-5 my-5">
   {{-- Description    --}}
      <section class=" bg-white text-slate-600 flex flex-col items-center border shadow rounded-3xl  p-4 xl:w-1/2">
        <div class="w-screen sm:w-full text-sm px-2 sm:px-4">
          <div class="justify-center flex">  
            <h2 class="relative z-10 font-bold text-black text-xl my-4">
              {{ i18n.t('messages.event_desc') }}
                <hr class="absolute -z-10 w-full h-2 bottom-1 left-0  bg-yellow-500">
            </h2>
          </div>
            
          <div class="flex flex-col mb-3">
            <label for="title" class="block text-gray-600">
              {{ i18n.t('messages.event_title') }}
            </label>
            <input type="text" id="title" name="title" class="mt-1 block w-full px-4 py-2 border
              border-gray-300 rounded-md shadow-sm
              focus:ring-slate-500 focus:border-slate-700 sm:text-sm" 
              value="{{ event.title || old('title') || '' }}"
            >
            @inputError('title')
            <div style="color: red;">{{ $messages.join(', ') }}
            </div>
            @end
          </div>

          <div class="flex flex-col mb-3">
              <label for="subtitle" class="block text-gray-600">
                {{ i18n.t('messages.event_subtitle') }}
              </label>
              <input type="text" id="subtitle" name="subtitle" 
                class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm
              focus:ring-slate-500 focus:border-slate-700 sm:text-sm" 
              value="{{event.subtitle || old('subtitle') || '' }}">
              @inputError('subtitle')
              <div style="color: red;">{{ $messages.join(', ') }}</div>
              @end
          </div>

          <div class="flex flex-col mb-3">
            <label for="description" class="block text-gray-600">
              {{ i18n.t('messages.event_desc') }}
            </label>
            <textarea type="text" id="description" name="description"
              class="mt-1 block w-full h-[131px] px-4 py-2 border border-gray-300 rounded-md shadow-sm
                focus:ring-slate-500 focus:border-slate-700 sm:text-sm"
              >{{event.description || old('description') || '' }}
            </textarea>
            @inputError('description')
            <div style="color: red;">{{ $messages.join(', ') }}</div>
            @end
          </div>
        </section>

{{-- Informations pratiques --}}
        <section class=" bg-blue-50 text-slate-600 flex flex-col items-center border shadow rounded-3xl  p-4 xl:w-1/2 xl:h-full">
          <div class="w-screen sm:w-full h-full px-2 sm:px-4 mb-8">
            <div class="justify-center flex">  
              <h2 class="relative z-10 font-bold text-black text-xl my-4">
                {{ i18n.t('messages.event_info') }}
                  <hr class="absolute -z-10 w-full h-2 bottom-1 left-0  bg-yellow-500">
              </h2>
            </div>
            <div class="flex flex-col text-sm">
                <div class="flex flex-col mb-3">
                    <label for="name" class="block text-gray-600">
                      {{ i18n.t('messages.event_locationName2') }}
                    </label>
                    <input type="text" id="name" name="name" class="mt-1 block w-full px-2 py-2 border border-gray-300 rounded-md shadow-sm
          focus:ring-slate-500 focus:border-slate-700 sm:text-sm" value="{{ event.location.name || '' }}">
                    @inputError('name')
                    <div style="color: red;">{{ $messages.join(', ') }}</div>
                    @end
                </div>

                <div class="flex w-full mb-3 gap-2">
                    <div class="flex flex-col w-5/6">
                        <label for="street" class="block text-gray-600">
                          {{ i18n.t('messages.event_locationStreet') }}
                        </label>
                        <input type="text" id="street" name="street" class="mt-1 block w-full px-2 py-2 border border-gray-300 rounded-md shadow-sm
              focus:ring-slate-500 focus:border-slate-700 sm:text-sm" value="{{ event.location.street || '' }}">
                        @inputError('street')
                        <div style="color: red;">{{ $messages.join(', ') }}</div>
                        @end
                    </div>

                    <div class="flex flex-col w-1/6">
                        <label for="number" class="block text-gray-600">
                          {{ i18n.t('messages.event_locationStreetNb') }}
                        </label>
                        <input type="text" id="number" name="number" class="mt-1 block w-full px-2 py-2 border border-gray-300 rounded-md shadow-sm
              focus:ring-slate-500 focus:border-slate-700 sm:text-sm" value="{{ event.location.number || '' }}">
                        @inputError('number')
                        <div style="color: red;">{{ $messages.join(', ') }}</div>
                        @end
                    </div>
                </div>

                <div class="flex mb-3 gap-2">
                    <div class="flex flex-col w-1/6">
                        <label for="zip_code" class="block text-gray-600">
                          {{ i18n.t('messages.event_locationZip') }}
                        </label>
                        <input type="text" id="zip_code" name="zip_code" class="mt-1 block w-full px-2 py-2 border border-gray-300 rounded-md shadow-sm
              focus:ring-slate-500 focus:border-slate-700 sm:text-sm"
                            value="{{ event.location.zipCode || '' }}" placeholder="1000">
                        @inputError('zip_code')
                        <div style="color: red;">{{ $messages.join(', ') }}</div>
                        @end
                    </div>

                    <div class="flex flex-col w-3/6">
                        <label for="city" class="block text-gray-600">
                          {{ i18n.t('messages.event_locationCity') }}
                        </label>
                        <input type="text" id="city" name="city" class="mt-1 block w-full px-2 py-2 border border-gray-300 rounded-md shadow-sm
              focus:ring-slate-500 focus:border-slate-700 sm:text-sm" value="{{ event.location.city || '' }}">
                        @inputError('city')
                        <div style="color: red;">{{ $messages.join(', ') }}</div>
                        @end
                    </div>

                    <div class="flex flex-col w-2/6">
                        <label for="country" class="block text-gray-600">
                          {{ i18n.t('messages.event_locationCountry') }}
                        </label>
                        <input type="text" id="country" name="country" value="Belgique" class="mt-1 block w-full px-2 py-2 border border-gray-300 rounded-md shadow-sm
              focus:ring-slate-500 focus:border-slate-700 sm:text-sm" value="{{ event.location.country || '' }}">
                        @inputError('country')
                        <div style="color: red;">{{ $messages.join(', ') }}</div>
                        @end
                    </div>
                </div> 

                <div class="flex text-sm gap-2 w-full">
                  <div class="flex flex-col w-1/2">
                      <label for="event_start" class="block text-gray-600">
                        {{ i18n.t('messages.event_start') }} 
                      </label>
                      {{-- <p class="text-[8px]">Event start: {{event.eventStart.toISO({})}}</p> --}}
                      <input type="datetime-local" id="event_start" name="event_start"
                          class="mt-1 block w-full px-0 sm:px-2 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-slate-500 focus:border-slate-700 text-xs sm:text-sm"
                          value="">
                  </div>

                  <div class="flex flex-col w-1/2">
                      <label for="event_end" class="block text-gray-600">
                        {{ i18n.t('messages.event_end') }} 
                      </label>
                      {{-- <p class="text-[8px]">Event End: {{event.eventEnd.toISO({})}}</p> --}}
                      <input type="datetime-local" id="event_end" name="event_end"
                          class="mt-1 block w-full px-0 sm:px-2 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-slate-500 focus:border-slate-700 text-xs sm:text-sm"
                          value="">
                  </div>
             

              @flashMessage('date')
              <div style="color: red;">{{ $message.message }}</div>
              @end
            </div>
        </section>
      </div>  


    <div class="xl:flex-row flex flex-col w-full gap-y-5 xl:gap-x-5 my-5">
      {{-- Links  --}}
      <section class=" bg-white text-slate-600 flex flex-col items-center border shadow rounded-3xl  p-4 xl:w-1/2 wl:h-full">
        <h2 class="relative z-10 font-bold text-black text-xl my-4">
          {{ i18n.t('messages.event_links') }} 
            <hr class="absolute -z-10 w-full h-2 bottom-1 left-0  bg-yellow-500">
        </h2>
        <div class="flex flex-col gap-3 w-screen sm:w-full text-sm px-2 sm:px-4 mb-5">
          <div>
              <label for="facebook_link" class="block text-gray-600">
                {{ i18n.t('messages.event_fbLink') }}
              </label>
              <input type="text" id="facebook_link" name="facebook_link" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm
            focus:ring-slate-500 focus:border-slate-700 sm:text-sm" value="{{event.facebookLink || old('facebook_link') || '' }}">
          </div>

          <div>
              <label for="instagram_link" class="block text-gray-600">
                {{ i18n.t('messages.event_igLink') }}
              </label>
              <input type="text" id="instagram_link" name="instagram_link" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm
            focus:ring-slate-500 focus:border-slate-700 sm:text-sm" value="{{event.instagramLink|| old('instagram_link') || '' }}">
          </div>

          <div>
              <label for="website_link" class="block text-gray-600">
                {{ i18n.t('messages.event_webLink') }}
              </label>
              <input type="text" id="website_link" name="website_link" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm
          focus:ring-slate-500 focus:border-slate-700 sm:text-sm" value="{{event.websiteLink || old('website_link') || '' }}">
          </div>

          <div>
              <label for="youtube_link" class="block text-gray-600">
                {{ i18n.t('messages.event_ytLink') }}
              </label>
              <input type="text" id="youtube_link" name="youtube_link" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm
            focus:ring-slate-500 focus:border-slate-700 sm:text-sm" value="{{event.youtubeLink || old('youtube_link') || '' }}">
          </div>

        </div>
      </section>  

      {{-- Categories  --}}
      <section class=" bg-white text-slate-600 flex flex-col items-center border shadow rounded-3xl p-6 xl:w-1/2 xl:h-full">
        <div class="flex w-screen sm:w-full px-4">
          <fieldset class="py-2 w-full">
            <legend class="relative z-10 text-xl text-black font-bold pb-2 mx-auto ">
              {{ i18n.t('messages.event_categ') }}
              <hr class="absolute -z-10 w-full h-2 bottom-3 left-0  bg-yellow-500">
            </legend>
              @each(category in categories)
              <ul>
                <li>
                    <input type="radio" id="category_{{ category.id }}" name="categories[]"
                        value="{{ category.id }}" onclick="toggleCategoryTypes({{ category.id }})" 
                            
                        {{event.categoryTypes[0].category.id == category.id ? "checked" : ""}}
                        
                        />
                    <label for="category_{{ category.id }}">{{ category.name }}</label>


                    <fieldset name="categoryTypesFieldset" id="categoryTypesFieldset_{{ category.id }}" class=" {{event.categoryTypes[0].category.id == category.id ? "" : "hidden"}} relative left-10">
                      @each(categoryType in categoryTypes)
                        @if (categoryType.categoryId == category.id)
                        <li class="category-type category-type-{{ categoryType.categoryId }}">
                          <input type="checkbox" id="categoryType_{{ categoryType.id }}" name="categoryTypes[]"
                              value="{{ categoryType.id }}"
                              
                              @each(eventCategoryType in event.categoryTypes)
                                @if(eventCategoryType.id == categoryType.id) 
                                    checked
                                @end
                        @end
                            />
                          <label for="categoryType_{{ categoryType.id }}">{{ categoryType.name }}</label>
                        </li>
                        @endif
                      @end
                    </fieldset>
                  </li>
                </ul>
              @end
            </fieldset>
                          
              @flashMessage('category')
                  <div style="color: red;">{{ $message.message }}</div>
              @end
          </div>
        </section> 
      </div> 
 
      <div class="xl:flex-row flex flex-col w-full gap-y-5 xl:gap-x-5 my-5">
        {{-- Indicators          --}}
        <section class="bg-white text-slate-600 flex flex-col items-center border shadow rounded-3xl  xl:w-1/2 my-0 p-6">
          <div class="flex w-screen sm:w-full px-4">    
            <fieldset class="py-2 w-full">
              <legend class="relative z-10 text-xl text-black font-bold pb-2 mx-auto ">
                {{ i18n.t('messages.event_indic') }}
                <hr class="absolute -z-10 w-full h-2 bottom-3 left-0  bg-yellow-500">
              </legend>
              @each(indicator in indicators)
              <ul>
                  <li>
                      <input 
                          type="checkbox" 
                          id="indicator_{{ indicator.id }}" name="indicators[]"
                          value="{{ indicator.id }}"
                          @each(eventIndicator in event.indicators)
                              @if(eventIndicator.id == indicator.id) 
                                  checked
                              @end
                          @end
                      />
                      <label for="indicator_{{ indicator.id }}">{{ indicator.name }}</label>
                  </li>
              </ul>
              @end
            </fieldset>
          </div>
        </section>
        
        {{-- Image loading --}}
        <section class=" bg-emerald-50 text-slate-600 flex flex-col xl:w-1/2 items-center border shadow rounded-3xl  p-6"> 
          <h2 class="relative z-10 font-bold text-black text-xl my-4">
            {{ i18n.t('messages.event_images') }}
              <hr class="absolute -z-10 w-full h-2 bottom-1 left-0  bg-yellow-500">
          </h2> 
          <label for="images_link" class="text-center ">
            {{ i18n.t('messages.event_uploadImg') }}
          </label>
          <input class="mt-4 max-w-56" type="file" id="images_link" name="images_link[]"
              onchange="previewImages()" accept="image/png, image/gif, image/jpeg" multiple 
          />
          @inputError('images_link')
          <div style="color: yellow;">
            {{ i18n.t('messages.event_imgMin') }}
          </div>
          @end
          <div id="imagePreviewContainer" class="flex flex-wrap mt-4">
          </div>
        </section>
      </div>  
{{-- Prices  --}}
      <section class="flex flex-col items-center text-sm bg-indigo-50 w-full xl:w-[1100px] 2xl:w-[1500px] rounded-3xl  border shadow mb-5 p-6">
        <h2 class=" relative z-10 font-bold text-black text-xl my-4 text-center max-w-fit">
          {{ i18n.t('messages.event_prix') }}
            <hr class="absolute -z-10 w-full h-2 bottom-1 left-0  bg-yellow-500">
        </h2>

          @each(price in event.prices)
            @!component('components/price_fields', {
              price: price
            })
          @end

          <template id="priceFieldsTemplate">
              @!component('components/price_fields', {
                price: price
              })
          </template>
          <div id="priceFieldsContainer" class="flex flex-col gap-4">
              <!-- div to add the addionnal prices -->
          </div>
          @inputError('prices[]')
              <div style="color: red;">{{ $messages.join(', ') }}</div>
          @end

          <button type="button" onclick="addPriceFields()" class="bg-blue-700 text-white py-2 px-4 rounded-md hover:bg-blue-500 
                  focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-slate-500">
                  {{ i18n.t('messages.event_addPrice') }}
          </button>

        </section>
        <div class="flex justify-center my-2">
          <button type="submit" class="bg-yellow-500 text-black font-bold py-2 px-4 my-5 rounded-md hover:bg-yellow-400 
                  focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-400">
                  {{ i18n.t('messages.event_apply') }}
          </button> 
        </div>

      </form>
    </div>
    </main>

  @include("pages/partials/footer")
<script src="/resources/js/add_event.js"></script>
</body>
</html>