<!DOCTYPE html>
<html lang="{{ i18n.locale }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Next Event: {{ i18n.t('messages.event_hub') }} - 
    {{city ? i18n.t('messages.events_search_city') + " " + city : "" }} 
    {{date ? i18n.t('messages.events_search_date') + " " + date : "" }}
    {{category?.name ? i18n.t('messages.events_search_category') : " " }}
    {{category?.name ?? ''}} {{categoryType ? '-' : ""}} 
    {{categoryType ?? ''}}
    {{vendor ? i18n.t('messages.events_search_vendor') + " " + vendor : "" }}
    {{location ? i18n.t('messages.events_search_location') + " " + location : "" }}
  </title>
  @vite(['resources/css/app.css', 'resources/js/app.js'])
</head>

<body class=" bg-slate-50">
  @include("pages/partials/header")
  
@if(title === "home")
    @include("pages/partials/intro")
@end


  <div class="loading-spinner hidden">
    <div class="spinner"></div>
  </div>
  
  @if(filter === true)
    <section class="relative flex flex-col items-center justify-center mb-10">
      @include("pages/partials/filter_map")
    </section>
  @end

  <main class="flex flex-col items-center min-h-screen mb-20 "> 
  @if(!home)
    @include("pages/partials/title")
  @end

  @if(!events)
    <p>{{i18n.t('messages.events_no_events')}}</p>
  @else
  
    <div class=" 2xl:container sm:mx-4 gap-x-[2%] gap-y-12 grid mb-20 grid-cols-1 sm:grid-cols-2  lg:grid-cols-3 xl:grid-cols-4 3xl:grid-cols-5"  > 
      <div class="h-[400px] lg:hidden">
        @!component('components/events/top_events', {title: i18n.t('messages.events_top') , events: topEvents})
      </div>
      @each(event in events)
        @!component('components/events_cards', {event, price: event.prices.length == 0 ? false : true })
      @end
      <div class="h-[400px] lg:hidden">
        @!component('components/events/top_events', {title: nextTitle, events: todayEvents})
      </div>
    </div>
  @end
</main>

@include("pages/partials/footer")
<script src="/js/countdown.js"></script>
<script src="/js/map_home.js"></script>
<script type="module" src="/js/date_format.js"></script>
<script src="/js/fade_animations.js"></script>


<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
crossorigin=""></script>

<script>
    if({{latitude}}) {
      window.latitude = "{{ latitude }}";
      window.longitude = "{{ longitude }}";
    }
</script>

</body>
</html>