<!DOCTYPE html>
<html lang="{{ i18n.locale }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Next Event: {{ i18n.t('messages.event_hub') }}</title>
  @vite(['resources/css/app.css', 'resources/js/app.js', 'resources/js/map_home.js'])
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
</head>

<body class=" bg-slate-50">
@include("pages/partials/header")
<div class="flex justify-center mt-12">
    <img src="/public/svg/logo-NE.svg" alt="Next Event logo">
    <h1 class="text-xl md:text-2xl font-bold">xt Events</h1>  
  </div>
  <h2 class=" text-center text-xl md:text-2xl font-bold"> {{location ? location : i18n.t('messages.events_title')}} {{ location ? i18n.t('messages.events_title_location') : "" }} {{date ?? ''}} {{categoryName ?? ''}} {{categoryTypeName ? '-' : ""}} {{categoryTypeName ?? ''}}</h2>

<main class="py-10 mb-10 mx-auto min-h-screen">
{{-- events types --}}

<ul>
  <div class="flex flex-wrap justify-center items-center mb-10 gap-4 mx-auto">
    @each(category in categories)
      <li>
          <div class="flex items-center gap-3 bg-slate-700 hover:bg-slate-500 rounded-md px-4 pb-1">
            <a class="font-semibold  text-white"href="/events/?category-type={{category.id}}">{{category.name}}</a>
          </div>
      </li>
    @end
    </div>
</ul>
<hr class="my-6">

  
<div class="sm:mx-4 gap-x-[2%] gap-y-12 grid mb-20 grid-cols-1 sm:grid-cols-2  lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5"  > 
    {{-- @if(events)
      <p>{{i18n.t('messages.events_no_events')}}</p>
    @end --}}
     @each(event in events)
      @!component('components/events_cards', {event})
    @end
    </div>


</main>


@include("pages/partials/footer")  
<script src="/resources/js/date_format.js"></script>
</body>
</html>