@layout.email({user, token, origin, subject, language}) 
    <p>Hi {{user.firstname}}, <br>Your account is now verified and activated.</p>
    <a href="{{origin}}/login">Log in to your account</a>
    <p>If you have any questions or concerns, please don't hesitate to <a href="{{origin}}/contact">contact</a> our support team.</p>
    <p>Best regards,<br>Your Company Name</p>
    <p>If it wasn't you, do not take this email into account.</p>
 @end
