@layout.email({
        email,
        messageText,
        name,
        subject
      })
    
    <p>ENGLISH</p>
    <p>This is a copy on your contact form you requested today.</p>
    <p>{{name}}</p>    
    <p>{{email}}</p>
    <p>{{messageText}}</p>

@end
