@layout.email({user, token, origin, subject, language})
    <p>Hi {{user.firstname}}, <br>Thank you for your registration on Next Events</p>
    <a href="{{origin}}/register/verify-email/?token={{token}}">Please validate your account</a>
    <p>If you have any questions or concerns, please don't hesitate to contact our support team.</p>
    <p>Best regards,<br>Your Company Name</p>
    <p>If it wasn't you, do not take this email into account.</p>
@end
