@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sports: #f5d0fe;
  --sports-hover: #f0abfc;
  --concerts: #bbf7d0;
  --concerts-hover: #86efac;
  --expos: #fed7aa;
  --expos-hover: #fdba74;
  --soirees: #fef08a;
  --soirees-hover: #fde047;
  --salons: #d9f99d;
  --salons-hover: #bef264;
  --spectacles: #ddd6fe;
  --spectacles-hover: #c4b5fd;
}
/*intro*/

.bg-intro{
  background-image: url('images/Festival-crowd.png');
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}

.date-pl {
  padding-left: 10px;
}

@media (min-width: 500px) {
  .date-pl {
    padding-left: 30px;
  }
}
@media (min-width: 330px) {
  .grid-categories {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (min-width: 375px) {
  .date-pl {
    padding-left: 20px;
  }
}
@media (min-width: 550px) {
  .date-pl {
    padding-left: 30px;
  }
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Aspect Ratio 16:9 */
  height: 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
}

input:focus {
  outline: none; /* Remove the default browser focus outline */
}

/* Sports */
.bg-sports {
  background-color: var(--sports);
}

.bg-sports:hover,
a:hover .bg-sports {
  background-color: var(--sports-hover);
}

/* Concerts */
.bg-concerts {
  background-color: var(--concerts);
}

.bg-concerts:hover,
a:hover .bg-concerts {
  background-color: var(--concerts-hover);
}

/* Soirées */
.bg-soirees {
  background-color: var(--soirees);
}

.bg-soirees:hover,
a:hover .bg-soirees {
  background-color: var(--soirees-hover);
}

/* Expos */
.bg-expos {
  background-color: var(--expos);
}

.bg-expos:hover,
a:hover .bg-expos {
  background-color: var(--expos-hover);
}

/* Spectacles */
.bg-theatre_spectacles {
  background-color: var(--spectacles);
}

.bg-theatre_spectacles:hover,
a:hover .bg-theatre_spectacles {
  background-color: var(--spectacles-hover);
}

/* Salons */
.bg-salons_foires {
  background-color: var(--salons);
}

.bg-salons_foires:hover,
a:hover .bg-salons_foires {
  background-color: var(--salons-hover);
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.notification {
  animation-name: fadeOut;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.favourite-star {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.star-empty,
.star-full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-in-out;
}

.star-full {
  opacity: 0;
}

.star-filled .star-full {
  opacity: 1;
}

@media (max-width: 365px) {
  .captcha-sm {
    display: none;
  }

  .captcha-xs {
    display: block;
  }
}

@media (min-width: 366px) {
  .captcha-sm {
    display: block;
  }

  .captcha-xs {
    display: none;
  }
}

.favourite-heart {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.heart-empty,
.heart-full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-in-out;
}

.heart-full {
  opacity: 0;
}

.heart-filled .heart-full {
  opacity: 1;
}

summary {
  list-style-type: none;
  position: relative;

  &::-webkit-details-marker {
    display: none;
  }

  &:before {
    content: '';
    position: absolute;
    right: 0;
    display: inline-block;
    margin-right: 0.5rem;

    height: 16px;
    width: 16px;
    background-image: url('/public/svg/arrow_details.svg');

    background-size: 16px 16px;
  }
  details[open] &:before {
    background-image: url('/public/svg/arrow_details_open.svg');
  }
}

/* Card animations  */

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.appear {
  opacity: 1;
  transform: translateY(0);
}

/*loading spinner*/

@layer components {
  .loading-spinner {
    @apply fixed inset-0 flex justify-center items-center bg-white bg-opacity-70 z-50;
  }
  .spinner {
    @apply animate-spin-slow rounded-full h-32 w-32 border-t-2 border-b-2 border-yellow-500;
  }
}

/*create form nav*/
.step {
  display: none;
  animation: slideIn 0.5s ease-in-out;
}

.step.active {
  display: block;
}

@keyframes slideIn {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


.progress {
  width: 0%;
  transition: width 0.3s ease-in-out;
}

