@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sports: #f5d0fe;
  --sports-hover: #f0abfc;
  --concerts: #bbf7d0;
  --concerts-hover: #86efac;
  --expos: #fed7aa;
  --expos-hover: #fdba74;
  --soirees: #fef08a;
  --soirees-hover: #fde047;
  --salons: #d9f99d;
  --salons-hover: #bef264;
  --spectacles: #ddd6fe;
  --spectacles-hover: #c4b5fd;
}

body {
  /* font-family: "PT Sans", sans-serif; */
  /* font-family: "Open Sans", sans-serif; */
}
nav {
  font-family: 'Open Sans', sans-serif;
}
.open-sans {
  font-family: 'Open Sans', sans-serif;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
  }
}

.date-pl{
  padding-left:10px;
}


@media (min-width:500px){
  
  .date-pl{
    padding-left:30px;
  }
} 
@media (min-width:330px){
  
  .grid-categories{  
    grid-template-columns: repeat(3,minmax(0,1fr));
  }
} 
@media (min-width:375px){
  .date-pl{
  padding-left:20px;
  }
  
}
@media (min-width: 550px) {
  .date-pl {
    padding-left: 30px;
  }
  
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Aspect Ratio 16:9 */
  height: 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 2rem;
}

input:focus {
  outline: none; /* Remove the default browser focus outline */
}

/* Sports */
.bg-sports {
  background-color: var(--sports);
}

.bg-sports:hover,
a:hover .bg-sports {
  background-color: var(--sports-hover);
}

/* Concerts */
.bg-concerts {
  background-color: var(--concerts);
}

.bg-concerts:hover,
a:hover .bg-concerts {
  background-color: var(--concerts-hover);
}

/* Soirées */
.bg-soirees {
  background-color: var(--soirees);
}

.bg-soirees:hover,
a:hover .bg-soirees {
  background-color: var(--soirees-hover);
}

/* Expos */
.bg-expos {
  background-color: var(--expos);
}

.bg-expos:hover,
a:hover .bg-expos {
  background-color: var(--expos-hover);
}

/* Spectacles */
.bg-theatre_spectacles {
  background-color: var(--spectacles);
}

.bg-theatre_spectacles:hover,
a:hover .bg-theatre_spectacles {
  background-color: var(--spectacles-hover);
}

/* Salons */
.bg-salons_foires {
  background-color: var(--salons);
}

.bg-salons_foires:hover,
a:hover .bg-salons_foires {
  background-color: var(--salons-hover);
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.notification {
  animation-name: fadeOut;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

