@tailwind base;
@tailwind components;
@tailwind utilities;

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Aspect Ratio 16:9 */
  height: 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  padding:2rem;
}


input:focus {
  outline: none; /* Remove the default browser focus outline */
} 

.bg-sports{
  background-color:#f5d0fe;
}

.bg-sports:hover{
  background-color:#f0abfc;
}

.bg-concerts{
  background-color:#bbf7d0;
}

.bg-concerts:hover{
  background-color:#86efac;
}

.bg-soirees{
  background-color:#fef08a;
}

.bg-soirees:hover{
  background-color:#fde047;
}

.bg-expos{
  background-color:#fed7aa;
}

.bg-expos:hover{
  background-color:#fdba74;
}

.bg-theatre_spectacles{
  background-color:#ddd6fe;
}

.bg-theatre_spectacles:hover{
  background-color:#c4b5fd;
}

.bg-salons_foires{
  background-color:#d9f99d;
}

.bg-salons_foires:hover{
  background-color:#bef264;
}

