<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Next Event - Panier</title>
  @vite(['resources/css/app.css', 'resources/js/app.js'])
</head>

<body>
  @include("pages/partials/header")
  <main class="bg-gray-100 flex  justify-center min-h-screen">
    
    <div class="bg-white p-8 my-20 mb-auto rounded shadow-md w-full max-w-md ">
      <h2 class="text-2xl font-bold mb-6 text-center text-gray-700">
        Mon panier
      </h2>
      
      @if(!order) 
      <p>Votre panier est vide</p>
      @else
      <table>
          <thead>
            <tr>
              <th scope="col">Evénement</th>
              <th scope="col">Catégorie de billet</th>
              <th scope="col">Quantité</th>
              <th scope="col">Prix/pc</th>
              <th scope="col">Total</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>

      User ID : {{order.userId}}  - Order ID : {{order.id}}
        @each(item in order.orderLineId)
          <tr name="orderLineQtyRow-{{item.id}}">
              <th scope="row">{{item.price.event.title}}</th>
              <td>{{item.price.description}}</td>
              <td >
                <form action="{{ route('cart.add', [item.id]) }}" method="post" class="space-y-4">
                    {{ csrfField() }}
                    <button onclick="addQuantity({{item.id}})" class=" mt-2 text-center py-1 px-2 lg:py-2 lg:px-4 bg-green-700 hover:bg-green-500 focus:ring-1 text-sm text-white  font-bold rounded-md transition duration-200" type="submit" > 
                    +
                    </button>
                </form>
                <span name="orderLineQty-{{item.id}}">{{item.qty}}</span>
                <form action="{{ route('cart.remove', [item.id]) }}" method="post" class="space-y-4">
                  {{ csrfField() }}
                  
                  <button onclick="removeQuantity({{item.id}})" class=" mt-2 text-center py-1 px-2 lg:py-2 lg:px-4 bg-red-700 hover:bg-red-500 focus:ring-1 text-sm text-white  font-bold rounded-md transition duration-200" type="submit" > 
                  -
                  </button>
                </form>

              </td>
              <td name="discount-price-{{item.id}}">{{item.price.discountedPrice}}</td>
              <td ><span name="total-price-{{item.id}}" data-subtotal="{{item.qty * item.price.discountedPrice}}">{{item.qty * item.price.discountedPrice}}</span> €</td>
              <td>
                 {{-- DELETE ROW --}}
                <form name="removeOrderLine-{{item.id}}" action="{{ route('cart.delete', [item.id], { qs: {_method: 'DELETE'}})}}" method="post" class="space-y-4">
            
                   {{ csrfField() }}
                  {{-- TODO Form submission canceled because the form is not connected --}}
                     <input type="hidden" name="_method" value="DELETE" />
                  
                  <button onclick="removeOrderLine({{item.id}})" class=" mt-2 text-center py-1 px-2 lg:py-2 lg:px-4 bg-red-700 hover:bg-red-500 focus:ring-1 text-sm text-white  font-bold rounded-md transition duration-200" type="submit" > 
                  x
                  </button>
                </form>
              </td>
            </tr>
        @end
        </tbody>
        <tfoot>
            <tr>
              <th scope="row" colspan="2">Total</th>
              <td><span  data-total-order="{{totalOrder}}">{{totalOrder}}</span> €</td>
            </tr>
          </tfoot>
        </table>

      <form action="{{ route('cart.destroy', [order.id], { qs: {_method: 'DELETE'}}) }}" method="post" class="space-y-4" enctype="multipart/form-data">
            
            {{ csrfField() }}
            
            <input type="hidden" name="_method" value="DELETE" />
            <button name class=" mt-2 text-center py-1 px-2 lg:py-2 lg:px-4 bg-red-700 hover:bg-red-500 focus:ring-1 text-sm text-white  font-bold rounded-md transition duration-200" type="submit" > 
      Vider mon panier</button>
            </form>

          <form action="{{route('cart.validate', [order.id])}}" method="POST">
       {{ csrfField() }}
    <button class=" mt-2 text-center py-1 px-2 lg:py-2 lg:px-4 bg-indigo-700 hover:bg-indigo-500 focus:ring-1 text-sm text-white  font-bold rounded-md transition duration-200" type="submit" > 
      Valider mon panier</button>

      
      </form>
    </a>
      @end
     
     

       
    </div>
  </main>
  

    @include("pages/partials/footer")
  <script src="/resources/js/cart.js" defer></script>

</body>
</html>