<h1>NEXT next-events</h1>
<p>You forgot your password ? No problem !</p>
<h2>Account information: </h2>
{{user.email}}
{{user.firstname}}
{{user.lastname}}
<a href="next-events.be/reset-password/?token={{token}}">Click on the link within 30 minutes to reset your password.</a>
<a href="{{route('auth.login.reset-password', [token])}}">Click on the link within 30 minutes to reset your password.</a>
<p>If it wasn't you, please ignore this e-mail</p>