<h1>HELLO</h1>
<p>Thank you for your registration</p>
<h2>Next Events</h2>
{{account.email}}
{{account.firstname}}
{{account.lastname}}
{{token}}
<a href="{{route('auth.register.verify', [token])}}">Please validate your account</a>