
<div class="relative flex w-full justify-center items-center  bg-slate-50 shadow py-4 border">
  <div >
    <span>©2024 - SaJoCh. {{ i18n.t('messages.footer_copyright') }}</span>
  </div>
</div>
</footer>

