@vite(['resources/css/app.css', 'resources/js/app.js'])
<header>
  <ul class="flex justify-between items-center bg-slate-100 shadow py-4 px-6">
    <li>Logo</li>
    <li>Home</li>
    <li>About</li>
    <li>Contact</li>
    <li>Login</li>
  </ul>
</header>
  
