<!DOCTYPE html>
<html lang="{{ i18n.locale }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Next Event: {{ i18n.t('messages.event_hub') }}</title>
  @vite(['resources/css/app.css', 'resources/js/app.js'])
  {{-- @vite(['resources/css/app.css', 'resources/js/app.js', 'resources/js/map_home.js']) --}}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <link rel="shortcut icon" type="image/png" href="/favicon.png"/>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

<body class=" bg-slate-50">

@include("pages/partials/header")
@include("pages/partials/intro")


<section class="relative flex flex-col items-center justify-center ">
  @include("pages/partials/filter_map")
</section>
<hr class="mb-6 mt-2 ">

<main class="2xl:mx-[5vw]"> 
  
    <div class=" sm:mx-4 gap-x-[2%] gap-y-12 grid mb-20 grid-cols-1 sm:grid-cols-2  lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5"  > 
      @each(event in events)
       @!component('components/events_cards', {event})
      @end
    </div>

  
</main>

@include("pages/partials/footer")  


<script type="module" src="/resources/js/map_home.js"></script>
<script src="/resources/js/date_format.js"></script>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
crossorigin=""></script>
</body>
</html>
