<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Next Event: A cultural events hub</title>
  @vite(['resources/css/app.css', 'resources/js/app.js'])
</head>

<body class=" bg-slate-50">

@include("pages/partials/header")

<section class="background-custom bg-cover bg-no-repeat bg-bottom flex justify-center items-center min-h-64 max-h-64">
    <style>
      .background-custom{background-image: url('public/images/Festival-crowd.png');
      }
      .text-shadow{
        background-color: rgba(0, 0, 0, 0.7);}
    </style>
    
    <p class="text-shadow text-center text-xs md:text-base lg:text-xl mx-4 md:mx-20 lg:mx-40  font-semibold text-gray-100 p-5">
      Vous cherchez une idée de sortie de dernière minute ? 
      <br>Trouvez rapidement ce qu'il se passe près de chez vous. <br>
      Choisissez votre emplacement et définissez votre rayon de recherche et laissez-vous surprendre. <br>
      Next Event répertorie les meilleurs événements de votre région avec des billets à prix réduits 
      disponibles 7 jours avant le spectacle.
    </p>
  
  </section>


  <h1 class="flex justify-center text-xl font-bold underline my-20">
    Next Event: A Cultural Events Hub
  </h1>
  <h2 class="flex justify-center text-2xl font-semibold">
    Article
  </h2>
  <p class="flex justify-center border shadow py-8 px-8 my-10 mx-40">
    
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, maxime.
    Nihil facere quam quasi, modi aspernatur accusantium officia fugit aliquam id! Distinctio tempora voluptates
    enim illo placeat asperiores, provident dolores quam blanditiis adipisci obcaecati. Dolore provident eos et 
    reprehenderit inventore unde molestias, eius dolorem hic voluptatem odio similique quod, alias totam nobis exercitationem 
    eaque ratione beatae iusto velit quisquam id veniam a ullam. Sequi vero ullam aperiam, libero error accusamus velit provident
    nobis repudiandae, ratione ut perferendis mollitia ea. Itaque dolore facere laborum totam laudantium iure consequuntur,
    nam ad repellat, aspernatur impedit a, voluptates facilis animi quisquam quibusdam. Nam iure, dolorum facilis aut provident
    quibusdam quo reprehenderit a dicta repellendus eos totam, impedit exercitationem ratione incidunt explicabo. Consectetur dignissimos
    esse dolore, nesciunt vel eos atque autem aliquam eaque exercitationem quam quo? Enim officia commodi voluptatum, dolores distinctio dolorum.
    Mollitia illo quod perferendis delectus! Error natus incidunt eveniet deleniti. Repellat saepe consequatur commodi ex recusandae nesciunt in ab,
    illum, sequi aliquam nulla. Necessitatibus beatae harum at error quam tenetur, veritatis nesciunt molestiae iusto esse.
    Est, iste impedit id in sunt ratione, saepe omnis voluptas ipsa sit eligendi deserunt sequi quis, fugit rerum odit quia.
    Obcaecati aut commodi harum tempora odit similique autem laboriosam vero dicta explicabo. Quaerat ratione vero, possimus
    eum nihil accusantium quos repellat fugiat iusto veniam nobis, ipsa at architecto modi tempore delectus. Necessitatibus, 
    ab tempore molestias dignissimos placeat corrupti. Vero eligendi recusandae eum earum. 
    Eaque sit assumenda quam autem nostrum ipsum cumque aperiam, quaerat nemo adipisci, reiciendis dolore.
  </p>
  <h2 class="flex justify-center text-2xl font-semibold">
    Article
  </h2>
  <p class="flex justify-center border shadow py-8 px-8 my-10 mx-40">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, maxime.
    Nihil facere quam quasi, modi aspernatur accusantium officia fugit aliquam id! Distinctio tempora voluptates
    enim illo placeat asperiores, provident dolores quam blanditiis adipisci obcaecati. Dolore provident eos et 
    reprehenderit inventore unde molestias, eius dolorem hic voluptatem odio similique quod, alias totam nobis exercitationem 
    eaque ratione beatae iusto velit quisquam id veniam a ullam. Sequi vero ullam aperiam, libero error accusamus velit provident
    nobis repudiandae, ratione ut perferendis mollitia ea. Itaque dolore facere laborum totam laudantium iure consequuntur,
    nam ad repellat, aspernatur impedit a, voluptates facilis animi quisquam quibusdam. Nam iure, dolorum facilis aut provident
    quibusdam quo reprehenderit a dicta repellendus eos totam, impedit exercitationem ratione incidunt explicabo. Consectetur dignissimos
    esse dolore, nesciunt vel eos atque autem aliquam eaque exercitationem quam quo? Enim officia commodi voluptatum, dolores distinctio dolorum.
    Mollitia illo quod perferendis delectus! Error natus incidunt eveniet deleniti. Repellat saepe consequatur commodi ex recusandae nesciunt in ab,
    illum, sequi aliquam nulla. Necessitatibus beatae harum at error quam tenetur, veritatis nesciunt molestiae iusto esse.
    Est, iste impedit id in sunt ratione, saepe omnis voluptas ipsa sit eligendi deserunt sequi quis, fugit rerum odit quia.
    Obcaecati aut commodi harum tempora odit similique autem laboriosam vero dicta explicabo. Quaerat ratione vero, possimus
    eum nihil accusantium quos repellat fugiat iusto veniam nobis, ipsa at architecto modi tempore delectus. Necessitatibus, 
    ab tempore molestias dignissimos placeat corrupti. Vero eligendi recusandae eum earum. 
    Eaque sit assumenda quam autem nostrum ipsum cumque aperiam, quaerat nemo adipisci, reiciendis dolore.
  </p>

@include("pages/partials/footer")  

</body>
</html>
