<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Next Event: A cultural events hub</title>
  @vite(['resources/css/app.css', 'resources/js/app.js', 'resources/js/map_home.js'])
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
</head>

<body class=" bg-gray-50">

@include("pages/partials/header")
@include("pages/partials/intro")

<section class="flex flex-col bg-gray-50 items-center  mb-6 mx-auto">
  @include("pages/partials/filter_map")
</section>
{{-- <div id="poi-list">
  poi-list: 
</div> --}}

<main>
  <div class="flex justify-center my-10">
    <img src="/public/svg/logo-NE.svg" alt="Next Event logo">
    <h2 class="text-2xl md:text-3xl font-bold relative">
        xt Events à prix réduit<span class="relative">s</span>
        <hr class="absolute -z-10 w-[130px] md:w-40 h-2 bottom-1 right-0  bg-yellow-500">
    </h2>
  </div>     


  <section class=" py-10 mb-10 mx-4">
    <div class="flex flex-wrap justify-center  gap-x-12 2xl:gap-x-24 gap-y-16 lg:gap-y-24 2xl:gap-y-32 mb-20 ">
      @each(event in events)
        @!component('components/events_cards', {event})
      @end
    </div>



    <div class="flex justify-center my-10">
      <img src="/public/svg/logo-NE.svg" alt="Next Event logo">
      <h2 class="text-2xl md:text-3xl font-bold relative">
          xt Events populaire<span class="relative">s</span>
        <hr class="absolute -z-10 w-full lg:w-1/2 h-1.5 bottom-1 right-0  bg-yellow-500">
      </h2>
    </div>

    <div class="flex flex-wrap justify-center bg-gray-50  gap-6  my-6 py-10">   
      @include("pages/partials/events_cards")
      @include("pages/partials/events_cards")
      @include("pages/partials/events_cards")
      @include("pages/partials/events_cards")
      @include("pages/partials/events_cards")
      @include("pages/partials/events_cards")
      @include("pages/partials/events_cards")
      @include("pages/partials/events_cards")
    </div>
  </section>
</main>


@include("pages/partials/footer")  
<script src="/resources/js/date_format.js"></script>
</body>
</html>
