<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Next Event: A cultural events hub</title>
    @vite(['resources/css/app.css', 'resources/js/app.js'])
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
</head>

<body class=" bg-slate-50">

    @include("pages/partials/header")
    @include("pages/partials/intro")


    <div class="flex justify-center items-center bg-slate-100 shadow py-4">
        @if(auth.isAuthenticated)
        <p> Hello {{ auth.user.email }} </p>

        <form method="POST" action="{{ route('auth.logout') }}">
            {{ csrfField() }}
            <button type="submit">Logout</button>
        </form>
        
        @else
        <p> NOT CONNECTED </p>
        @end
    </div>

    @include("pages/partials/footer")

</body>

</html>