<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  @vite(['resources/css/app.css', 'resources/js/app.js'])
</head>

<body>
  
  @include("pages/partials/header")
  <main class="flex flex-col items-center min-h-screen gap-10 mb-16">
    
    <div class="bg-white p-8 my-20  rounded shadow-md w-full max-w-md ">
      <h2 class="text-2xl font-bold mb-6 text-center text-gray-700">
        Dashboard
      </h2>
    </div>

    @!component('components/dashboard/profile_section', {
      user: user,
    })


    <section>
      <div class="w-screen sm:w-[600px] lg:w-[800px] bg-white text-slate-600 flex flex-col border rounded-md shadow px-4 md:px-8">
        <div class="justify-center flex">
          <h2 class="relative z-10 font-bold text-xl mt-4 mb-8">Whishlist
              <hr class="absolute -z-10 w-full h-2 bottom-1 left-0  bg-yellow-500">
          </h2>
        </div>
        <div class="flex flex-col gap-4 pb-8 ">
  
          @if(userWishlist.length > 0)
            @each(event in userWishlist)
              @!component('components/dashboard/wishlist_element', {
                event: event,
              })
            @end
          @else
          <p>Pas d'évènement dans votre wishlist pour le moment.</p>
          @endif
        </div>
      </div>
    </section>

    <section>
      <div class="w-screen sm:w-[600px] lg:w-[800px] bg-white text-slate-600 flex flex-col border rounded-md shadow px-4 md:px-8">
        <div class="justify-center flex">
          <h2 class="relative z-10 font-bold text-xl mt-4 mb-8">Mes Favoris
              <hr class="absolute -z-10 w-full h-2 bottom-1 left-0  bg-yellow-500">
          </h2>
        </div>
        <div class="flex flex-col gap-4 pb-8 ">
      @if(userFavourites.length > 0)
      @each(vendor in userFavourites)
        @!component('components/dashboard/favourite_element', {
          vendor: vendor,
        })
      @end
      @else
        <p>Pas d'organisateurs favoris pour le moment.</p>
      @endif
    </div>
  </div>
</section>

  </main>
  

    @include("pages/partials/footer")
  
<script scr="resources/js/app.js"></script>
</body>
</html>