<!DOCTYPE html>
<html lang="{{ i18n.locale }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ i18n.t('messages.editProfile_title') }}</title>
  @vite(['resources/css/app.css', 'resources/js/app.js','resources/js/dropdown_address.js'])
</head>

<body>
  
  @include("pages/partials/header")
  <main class="bg-gray-100 flex  justify-center min-h-screen ">
    
    <div class="bg-white p-8 my-20  rounded shadow-md w-full max-w-md ">
      <h2 class="text-2xl font-bold mb-6 text-center text-gray-700">
        {{ i18n.t('messages.editProfile_title') }}
      </h2>
      <form action={{ route('auth.register.update') }} method="POST" class="space-y-4">
        {{ csrfField() }}
        <div>
          <label for="first_name" class="block text-gray-600">
            {{ i18n.t('messages.editProfile_firstname') }}
          </label>
          <input type="text" id="first_name" name="first_name" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm
            focus:ring-yellow-500 focus:border-yellow-500 focus:ring-2 sm:text-sm" placeholder="Dupont" value={{ user.firstname }}>
        </div>
        <div>
          <label for="last_name" class="block text-gray-600">
            {{ i18n.t('messages.editProfile_name') }}
          </label>
          <input type="text" id="last-name" name="last_name" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm
           focus:ring-yellow-500 focus:border-yellow-500 focus:ring-2  sm:text-sm" placeholder="Jean" value={{ user.lastname }}>
        </div>

        <div>
          <label for="email" class="block text-gray-600">
            {{ i18n.t('messages.editProfile_creds') }}
          </label>
          <input type="email" id="email" name="email" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm
           focus:ring-yellow-500 focus:border-yellow-500 focus:ring-2 sm:text-sm" placeholder="vous@exemple.com" value={{ user.email }}>
           
           @inputError('email')
              @each(message in $messages)
                <p> {{ message }} </p>
              @end
            @end
        </div>

        @if(flashMessages.has('mandatoryProfileData'))
        <div>
          <h2 class="text-2xl font-bold mb-6 text-center text-yellow-600">
            {{ flashMessages.get('mandatoryProfileData') }}
          </h2>
        </div>
        @endif

        <div>
          <label for="password" class="block text-gray-600">
            {{ i18n.t('messages.editProfile_password') }}
          </label>
          <input type="password" id="password" name="password" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm
          focus:ring-yellow-500 focus:border-yellow-500 focus:ring-2  sm:text-sm" placeholder="********">
          @inputError('password')
            @each(message in $messages)
              <p> {{ message }} </p>
            @end
          @end
          @flashMessage('password')
            <p> {{ $message }} </p>
          @end
        </div>

        <div>
          <label for="password_confirmation" class="block text-gray-600">
            {{ i18n.t('messages.editProfile_confirmPass') }}
          </label>
        <input type="password" id="password_confirmation" name="password_confirmation" class="mt-1 block w-full px-4 py-2
         border border-gray-300 rounded-md shadow-sm focus:ring-yellow-500 focus:border-yellow-500 focus:ring-2 0 sm:text-sm" placeholder="********">
         @inputError('password_confirmation')
          @each(message in $messages)
            <p> {{ message }} </p>
          @end
        @end
        </div>

        @if(flashMessages.has('userPassword'))
        <div>
          <h2 class="text-2xl font-bold mb-6 text-center text-yellow-600">
            {{ flashMessages.get('userPassword') }}
          </h2>
        </div>
        @endif

        <button type="button" id="billing__adress--button" class="flex justify-center   text-sm font-semibold text-gray-600 hover:text-gray-950 w-full">
          <div class="flex flex-col justify-between items-center w-full text-gray-800 text-xl font-semibold my-4">
            <h2>{{ i18n.t('messages.editProfile_billData') }}</h2>
            <p class="text-sm">
              {{ i18n.t('messages.editProfile_instruction') }}
            </p>
            <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
            </svg>
          </div>
        </button>

        <div>
          <label for="company_name" class="block text-gray-600">
            {{ i18n.t('messages.editProfile_company') }}
          </label>
          <input type="text" id="company_name" name="company_name" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm
         focus:ring-slate-500 focus:border-slate-700 sm:text-sm" value={{ user.companyName || '' }}>
          @inputError('company_name')
          <div style="color: red;">{{ $messages.join(', ') }}</div>
          @end
        </div>
        <div>
          <label for="vat_number" class="block text-gray-600">
              {{ i18n.t('messages.editProfile_vat') }}
          </label>
          <input type="text" id="vat_number" name="vat_number" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm
         focus:ring-slate-500 focus:border-slate-700 sm:text-sm" value={{ user.vatNumber || '' }}>
          @inputError('vat_number')
          <div style="color: red;">{{ $messages.join(', ') }}</div>
          @end
        </div>

        @if(flashMessages.has('userVendorData'))
        <div>
          <h2 class="text-2xl font-bold mb-6 text-center text-yellow-600">
            {{ flashMessages.get('userVendorData') }}
          </h2>
        </div>
        @endif


        @if(flashMessages.has('billingAddressError'))
        <div>
          <h2 class="text-2xl font-bold mb-6 text-center text-yellow-600">
            {{ flashMessages.get('billingAddressError') }}
          </h2>
        </div>
        @endif

        <div class="hidden opacity-0 scale-50 duration-500" id="billing__adress--component">
          @if(user.billingAddress)
            @!component('components/dashboard/billing_address_form', {
              street: user.billingAddress.street,
              number: user.billingAddress.number,
              zipCode: user.billingAddress.zipCode,
              city: user.billingAddress.city,
              country: user.billingAddress.country,
            })
          @else
            @!component('components/dashboard/billing_address_form')
          @endif
        </div>
       
        <div>
          <button type="submit" class="mt-10 w-full bg-yellow-500 text-gray-800 font-semibold py-2 px-4 rounded-md hover:bg-yellow-400 
          focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500 focus:border-yellow-500  ">
          {{ i18n.t('messages.editProfile_save') }}
          </button>
        </div>       
      </form>

      <div class="mt-4">
        @!component('components/dashboard/button_create_vendor')
      </div>
    </div>
  </main>
  

    @include("pages/partials/footer")
  
<script scr="resources/js/app.js"></script>
</body>
</html>