<!DOCTYPE html>
<html lang="{{ i18n.locale }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ i18n.t('messages.favourites_title') }}</title>
  @vite(['resources/css/app.css', 'resources/js/app.js'])
</head>

<body class="bg-slate-50">
@include("pages/partials/header")

<main class="flex flex-col items-center min-h-screen ">

@!include("pages/partials/favourites")  

    <h1>{{ i18n.t('messages.favourites_my') }}</</h1>
    @each(vendor in userFavourites)
      @!component('components/dashboard/favourite_element', {
        vendor: vendor,
      })
    @end

</main>


@include("pages/partials/footer")  

</body>
</html>