<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Favoris</title>
  @vite(['resources/css/app.css', 'resources/js/app.js'])
</head>

<body class=" bg-gray-100">
@include("pages/partials/header")

<main class="container py-10 mb-10 mx-auto">

    <h1>Mes Favoris</h1>
    @each(vendor in userFavourites)
      <li>
        <a href="/events/?vendor={{ vendor.id }}" class="space-y-4">
            <div class="flex items-center gap-3 bg-slate-700 hover:bg-slate-500 rounded-md px-4 pb-1">
                <p>{{vendor.companyName}}</p>
            </div>
          </a>
            <form action="{{ route('favourite.destroy', [vendor.id]) }}" method="post" class="space-y-4"  enctype="multipart/form-data">
              {{ csrfField() }}
              <button type="submit" class="text-yellow">Effacer</button>
            </form>
      </li>
    @end
</main>


@include("pages/partials/footer")  

</body>
</html>