<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wishlist</title>
  @vite(['resources/css/app.css', 'resources/js/app.js'])
</head>

<body class=" bg-gray-100">
@include("pages/partials/header")

<main class="container py-10 mb-10 mx-auto">

    <h1>Ma Wishlist</h1>
    @each(event in userWishlist)

      @!component('components/dashboard/wishlist_element', {
        event: event,
      })
      
    @end
</main>


@include("pages/partials/footer")  

</body>
</html>