<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Next Event - Dashboard - Mes commandes </title>
  @vite(['resources/css/app.css', 'resources/js/app.js','resources/js/map_details.js','resources/js/favourites.js'])
</head>

<body class="bg-slate-50">

  @include("pages/partials/header")

  <main class= "container mb-10 mx-auto relative">
     
    <div class="flex justify-center  gap-10  mx-auto my-6 py-10"> 
      <article class="bg-slate-50 border-gray-300 rounded-lg w-full">
        <h2 class="text-4xl font-semibold tracking-tight text-gray-700">
            Vos commandes
        </h2>
        <div class="flex flex-col justify-center items-center mb-4">
            @if(orders.length === 0)
                <p>Vous n'avez pas encore passé de commandes</p>
            @else
             @each(order in orders)
                <div class="flex flex-col lg:flex-row w-full lg:border-2 bg-slate-400 border-yellow-500 rounded-md">
                    Commande: {{order.id}}
                    Date d'achat: {{order.purchaseDate}}
                    @each(orderLine in order.orderLineId)
                        Qté: {{orderLine.qty}}
                        Evénement: {{orderLine.price.event.title}}
                        Date: {{orderLine.price.event.eventStart}}
                        Type de billet: {{orderLine.price.description}}
                        Prix: {{orderLine.price.discountedPrice}}
                    @end
                </div>
             @end
     
            @end
        </div>
        </article>
    </div>
    
  </main>


  @include("pages/partials/footer")

</body>
</html>