<!DOCTYPE html>
<html lang="{{ i18n.locale }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ i18n.t('messages.orders_title') }}</title>
  @vite(['resources/css/app.css', 'resources/js/app.js'])
</head>

<body class="bg-slate-50 text-xs sm:text-sm md:text-base">
  @include("pages/partials/header")
  <main class="flex flex-col justify-center min-h-screen w-full sm:w-[600px] mx-auto">
    <div class="bg-white sm:rounded-3xl sm:shadow w-full sm:mt-10 sm:mb-20 sm:p-4 lg:p-8">
      <h2 class="text-2xl font-bold mb-6 text-center text-gray-700">
        {{ i18n.t('messages.orders_title') }}
      </h2>

      <div class="overflow-x-auto">
        @if(orders.length === 0)
          <p class="text-center text-gray-600">{{ i18n.t('messages.orders_noOrders') }}</p>
        @else
          @each(order in orders)
            <div class="mb-6 border border-slate-700 sm:rounded-lg overflow-hidden">
              <div class="bg-slate-700 text-white p-3 flex justify-between">
                <span class="font-semibold">N°{{ i18n.t('messages.orders_order') }}: {{order.id}}</span>
                <span class="formated-date" data-event-start="{{ order.purchaseDate }}">
                  {{ i18n.t('messages.orders_purchaseDate') }}: {{order.purchaseDate}}
                </span>
              </div>
              <table class="min-w-full bg-white">
                <thead class="bg-slate-200 text-gray-700">
                  <tr>
                    <th class="p-2 text-left">{{ i18n.t('messages.orders_event') }}</th>
                    <th class="p-2 text-center">{{ i18n.t('messages.orders_qty') }}</th>
                    <th class="p-2 text-right">{{ i18n.t('messages.orders_ticketType') }}</th>
                    <th class="p-2 text-right">{{ i18n.t('messages.orders_price') }}</th>
                  </tr>
                </thead>
                <tbody>
                  @each(orderLine in order.orderLineId)
                    <tr class="border-t border-slate-100">
                      <td class="p-2">
                        {{orderLine.price.event.title}}
                        <br>
                        <span class="formated-date text-xs text-gray-500" 
                              data-event-start="{{ orderLine.price.event.eventStart }}">
                          {{ i18n.t('messages.orders_date') }}: {{orderLine.price.event.eventStart}}
                        </span>
                      </td>
                      <td class="p-2 text-center">{{orderLine.qty}}</td>
                      <td class="p-2 text-right">{{orderLine.price.description}}</td>
                      <td class="p-2 text-right">{{orderLine.price.discountedPrice}}€</td>
                    </tr>
                  @end
                </tbody>
              </table>
            </div>
          @end
        @end
      </div>
    </div>
  </main>
  @include("pages/partials/footer")
  <script src="/resources/js/date_format.js"></script>
</body>
</html>