<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Next Event Page de Profil</title>
  @vite(['resources/css/app.css', 'resources/js/app.js'])
</head>

<body class="bg-slate-50 ">
  @include("pages/partials/header")

<main class="flex flex-col items-center min-h-screen gap-10 mb-16">

  @!component('components/dashboard/profile_section', {
    user: user,
  })

</main>
@include("pages/partials/footer")

</body>
</html>