<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Next Event Page de Profil</title>
  @vite(['resources/css/app.css', 'resources/js/app.js'])
</head>

<body class="bg-slate-50 ">
  @include("pages/partials/header")
  {{-- {{route('auth.profile.edit')}} --}}
<main class="flex flex-col items-center min-h-screen gap-10 mb-16">
  <section class=" bg-white text-slate-600 flex flex-col border rounded-md shadow mt-16">
      <div class="justify-center flex">
        <h2 class="relative z-10 font-bold text-xl my-4">Profil
            <hr class="absolute -z-10 w-full h-2 bottom-1 left-0  bg-yellow-500">
        </h2>
      </div>

      <div class="w-screen sm:w-[600px] lg:w-[800px]">
        <div class="flex flex-col lg:flex-row lg:items-center md:px-4">
          <div class="flex self-center lg:self-start w-24 h-24 lg:w-40 lg:h-40  shadow m-4 p-4  rounded-md">
            <img src="/svg/profile_picture_dummy.svg" alt="profile picture dummy">
          </div>
          <div class="flex flex-col gap-1 mb-2 lg:my-2  mx-4 text-xs md:text-sm">
            <div class="flex gap-2">
              <p class="font-bold">Prénom:</p>
              <p>{{ user.firstname }}</p>
            </div>
            <div class="flex gap-2">
              <p class="font-bold">Nom:</p>
              <p>{{ user.lastname }}</p>
            </div>
            <div class="flex gap-2">
              <p class="font-bold">Email:</p>
              <p>{{ user.email }}</p>
            </div>
            @if (user.billingAddress)
              <div class="flex gap-2">
                <p class="font-bold">Adresse:</p>
                <p>{{ user.billingAddress.street || '' }} 
                  {{ user.billingAddress.number || '' }}, 
                  {{ user.billingAddress.zipCode || '' }} 
                  {{ user.billingAddress.city || '' }}
                </p>
              </div>
            @endif
            <div class="flex gap-2">
              <p class="font-bold">Nom de société:</p>
              <p>{{ user.companyName || '' }}</p>
            </div>
            <div class="flex gap-2">
              <p class="font-bold">N° de TVA:</p>
              <p>{{ user.vatNumber || '' }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="flex justify-center my-8">
        <div class="flex bg-indigo-700 text-white text-sm py-1 px-2 rounded-md font-bold">
          <a href="{{route('auth.profile.edit')}} ">
            Éditer le profil
          </a>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="w-screen sm:w-[600px] lg:w-[800px] bg-white text-slate-600 flex flex-col border rounded-md shadow px-4 md:px-8">
      <div class="justify-center flex">
        <h2 class="relative z-10 font-bold text-xl mt-4 mb-8">Whishlist
            <hr class="absolute -z-10 w-full h-2 bottom-1 left-0  bg-yellow-500">
        </h2>
      </div>
      <div class="flex flex-col gap-4 pb-8 ">

        @if(userWishlist.length > 0)
          @each(event in userWishlist)
            @!component('components/dashboard/wishlist_element', {
              event: event,
            })
          @end
        @else
        <p>Pas d'évènement dans votre wishlist pour le moment.</p>
        @endif
      </div>
    </div>
  </section>
  <section>
    <div class="w-screen sm:w-[600px] lg:w-[800px] bg-white flex flex-col border rounded-md shadow px-4 lg:px-8">

      <div class="justify-center flex">
        <h2 class="relative z-10 font-bold text-xl my-4 lg:mb-8">Vendeurs favoris
            <hr class="absolute -z-10 w-full h-2 bottom-1 left-0  bg-yellow-500">
        </h2>
      </div>
        <div class="flex flex-col gap-4 pb-8">

          @if(userFavourites.length > 0)
            @each(vendor in userFavourites)
            
              @!component('components/dashboard/favourite_element', {
                vendor: vendor,
              })
              
            @end
          @else
            <p>Votre Liste de Favoris est vide</p>
          @endif
          
        </div>
      </div>
    </div>
  </section>
</main>
@include("pages/partials/footer")

</body>
</html>