<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Next Event Page de Profil</title>
  @vite(['resources/css/app.css', 'resources/js/app.js'])
</head>

<body class="bg-slate-50">
  @include("pages/partials/header")
  {{-- {{route('auth.profile.edit')}} --}}
<main class="min-h-screen flex justify-center my-20">
    <div class="w-full md:w-[600px] bg-white flex flex-col border rounded-md shadow ">
      <div class="flex">
        <div class="flex w-40 h-40 shadow m-4 p-4  rounded-md">
          <img src="/svg/profile_picture_dummy.svg" alt="profile picture dummy">
        </div>
        <div class="flex flex-col justify-between my-6 text-slate-600">
          <div class="flex gap-2">
            <p class="font-bold">Nom:</p>
            <p>Dupont</p>
            <button href="{{route('auth.profile.edit')}} ">EDIT</button>
            
          </div>
          <div class="flex gap-2">
            <p class="font-bold">Prénom:</p>
            <p>Jean</p>
          </div>
          <div class="flex gap-2">
            <p class="font-bold">Date de naissance:</p>
            <p>26/07/1986</p>
          </div>
          <div class="flex gap-2">
            <p class="font-bold">Email:</p>
            <p>jean.dupont@caramail.com</p>
          </div>
          
        </div>   
    </div>
    <hr class="m-4 bg-slate-200 h-0.5">
    
    

  </div>

</main>
@include("pages/partials/footer")

</body>
</html>